.home {
  flex: 0.65;
  display: grid;
  align-content: center;
  justify-items: center;
  background: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}

@media (max-width: 800px) {
  .chat {
    flex: 1;
  }
}
